
<H1><%= @project.name %></H1>
<p>Our goal is to raise $<%= @project.goal %> to fund this project</p>
<p>Project Destription: <%= @project.description %></p>
<p>Project Deadline <%= @project.deadline %></p>
