<H1> Project Page </H1>

<H2><%= @project.name %></H2>
<p>Our goal is to raise $<%= @project.goal %> to fund this project</p>

<!-- display project's name-->
<!-- display the project's goal amount-->
<!-- display the project's deadline (date/days left)-->
