<H1><%= @project.name %></H1>
<p><strong>Funding goal:</strong> $<%= @project.goal %></p>
<p><strong>Project Destription:</strong> <%= @project.description %></p>
<p><strong>Project Deadline:</strong> <%= @project.deadline %></p>
