
 html {
   height: 100%;
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

body {
   position: relative;
   padding-bottom: 6rem;
   min-height: 100%;
   font-family: "Helvetica Neue", Arial, sans-serif;
   margin:0;
   background-color: #333;
}

.container{ /*only applies to body*/
  width:95%;
  margin: 0 auto;
}

h1{
  color:white;
}
/*.spacer{
  height:120px;
}*/

/* Nav Bar Stuff */


#navbar{
  width:100%;
  background-color: 1;
  /*position:fixed;*/
  margin: 0 auto;
  padding:0;
}


.navbar-class ul {
    list-style-type: none;
    padding-top: 25px;
    padding-right: 2.5%;
    padding-left:2.5%;
    margin: 0;
    height: 120px;
    overflow: hidden;
    text-decoration: none;
    /*color: white;*/
    width: 100%;
}


.navbar-class img {
  height: 80px;
  position: inherit;
  float:left;
}



.navbar-class li:hover {
    background-color: #111;
}

.navbar-class li {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    float: right;
}

.navbar-class li a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  float:right;
}

/* Forms */

.field input {
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  box-sizing: border-box;
}

.field {
  padding-right: 100px;
  padding-left: 40px;
}

.actions {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    ali
}

/* Home Page */

  footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */


.prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
/*.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}*/

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 60px;
  padding: 8px 18px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*current projects (index)*/
.projects-container{
  background-color: pink;
  width: 100%;
}

.projects-container .projects{
  width: 33%;
}

.projects-container .projects ul a{
  color: white;
  display:block;
  text-decoration: none;
  font-size: 40px;
}

/*new project page*/


.field-container1.field{
  background-color: red;
}
