
 html {
   height: 100%;
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

body {
   position: relative;
   padding-bottom: 6rem;
   min-height: 100%;
   font-family: "Helvetica Neue", Arial, sans-serif;
   margin:0;
   background-color: #333;
}

.container{ /*only applies to body*/
  width:95%;
  margin: 0 auto;
}

h1, h2{
  color:white;
  text-align:center;
}

.button{
  text-align: center;
  margin-top: 50px;
}
/*.spacer{
  height:120px;
}*/

/*************************/
/*     Nav bar stuff     */
/*************************/


#navbar{
  width:100%;
  background-color: 1;
  /*position:fixed;*/
  margin: 0 auto;
  padding:0;
}


.navbar-class ul {
    list-style-type: none;
    padding-top: 25px;
    padding-right: 2.5%;
    padding-left:2.5%;
    margin: 0;
    height: 120px;
    overflow: hidden;
    text-decoration: none;
    /*color: white;*/
    width: 100%;
}


.navbar-class img {
  height: 80px;
  position: inherit;
  float:left;
}



.navbar-class li:hover {
    background-color: #111;
}

.navbar-class li {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    float: right;
}

.navbar-class li a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  float:right;
}

/*************************/
/*         forms         */
/*************************/
.project-page{
  text-align: center;
}



.field{
  text-align: center;
}

.field input {
  width: 50%;
  padding: 5px 50px;
  margin: 8px 0;
  box-sizing: border-box;
}


.actions { /*buttons*/
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: helvetica, arial, cursive;
}

label{
  color:#b4eeb4;
}

/*************************/
/*     Home Page         */
/*************************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
}


/* Slideshow container */
.slider{
  width:100%;
}



.slideshow-container {
  position: relative;
  margin: 0;
}

.mySlides img{
  opacity:0.8;
}

/* Next & previous buttons */


.prev, .next {
  cursor: pointer;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */



.text h2 {
  font-size: 60px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

.text p {
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*current projects (index)*/
.projects-container{
  overflow:hidden;
}



.projects-container .projects ul .project-names{
  color: white;
  display:block;
  text-decoration: none;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
}


.individual-project{
  float: left;
  padding: 10px 70px;
  color:#b4eeb4;
  margin-right: 15px;
  margin-left: 15px;
  /*width: 26%;*/
  /*border-radius: 20px;*/
  background-color: rgba(333, 333, 333, 0.1);
  height:250px;
  text-align: center;
}

.info{
  color: white;
}


.new-project-link a{
  color:white;
  text-decoration: none;
  background-color: #4CAF50;
  padding:15px;
  float:left;
  margin: 50px 0px 50px 0;
}


.projects-container .projects ul a:hover{
  color: #9ed1ff;
}

.projects-container .projects ul a:active{
  color: #85c4ff;
}


/*************************/
/*   Show Project Page   */
/*************************/
.project-info{
  text-align: center;
  color:white;
  border-radius: 20px;
  background-color: rgba(333, 333, 333, 0.1);
  height:500px;
  display:block;
  float:left;
  width: 60%;
  padding-top: 10%;
  margin: 0 auto;
}

.project-info .project-line{
  color:#b4eeb4;
}

#button-project-ind{
  margin-top:15px;
}

.space{
  margin-bottom:50px;
}

/*************************/
/*      sign up Page     */
/*************************/
.signup-container{
  border-radius: 20px;
  background-color: rgba(333, 333, 333, 0.1);
  height:500px;
  display:block;
  width: 40%;
  padding-top: 10%;
  margin: 0 auto;
}

/*************************/
/*        Login Page     */
/*************************/

.login-container{
  border-radius: 20px;
  background-color: rgba(333, 333, 333, 0.1);
  height:400px;
  display:block;
  width: 40%;
  padding-top: 10%;
  margin: 0 auto;
}

/*************************/
/*       New Project     */
/*************************/
.field-container1{
  text-align: center;
  border-radius: 20px;
  background-color: rgba(333, 333, 333, 0.1);
  height:400px;
  display:block;
  width: 40%;
  padding-top: 5%;
  margin: 0 auto;
}

.reward{
  text-align: center;
  border-radius: 20px;
  background-color: rgba(333, 333, 333, 0.1);
  height:400px;
  display:block;
  width: 40%;
  padding-top: 5%;
  margin: 0 auto;
}
